#barra_ferramentas {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#esp{
    float: left;
    width: 70%;
    height: 100%;
    background-color: gray;
}
.btn_div{
    float: left;
    width: 10%;
    height: 100%;
}
.btn{
    /* Estilo do Rótulo */
    font: bold 14px Helvetica, Verdana, Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    color: whitesmoke;
    float: left;
    width: 100%;
    height: 100%;
    background-color: gray;
    display: block;
    border-left:solid;
    border-left-color: lightgray;
    border-left-width: .1em;
}
.btn:hover{
    /* Estilo do Rótulo */
    font: bold 14px Helvetica, Verdana, Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    color: gray;
    float: left;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: block;
    border-left:solid;
    border-left-color: gray;
    border-left-width: .1em;
}