/* 
    Document   : estilo_cobranca
    Created on : 25/06/2013, 14:30:54
    Author     : acer
    Description:
        Purpose of the stylesheet follows.
*/


/*Formatação das tabelasx
table { border-collapse: collapse; border-spacing: 0;
    font: 100% Verdana, Arial, Helvetica, sans-serif;padding: 200px;
    width:1150px; margin-top:25px}
tr#header {background-color: #55689F; color: white; font-weight: bold; text-align: center; height: 30px; }
tr#divisoria{height: 25px; line-height: 25px; 
                border-right: 2px dotted #FFF; border-left: 2px double #FFF;}
tr {height: 50px;} 
tr#par {background-color: #edf0f4}
tr#valor {text-align: center; width:10px}
th { text-align: center; font-weight: normal;}
td#td_desc {text-align: left}
tr#atrasado {background-color: rgb(242, 220, 219); text-align: center; width:10px}
tr#curso_normal {background-color: rgb(235, 241, 222); text-align: center; width:10px}
tr#concluido {background-color: rgb(220, 230, 241); text-align: center; width:10px}
tr#nao_iniciado {background-color: rgb(242, 242, 242); text-align: center; width:10px}
tr#cancelado {background-color: white; text-align: center; width:10px}


Formatação de cores, tamanhos e alinhamento dos leiautes
div#nm_sistema {background: #EEE;color: #0D1B44;text-align:center;
        vertical-align:text-bottom; font-size: 25px;line-height:45px}
div#var_sistema {background: #333;color: #FFF;height:10px}
div#navegacao_hrz{background: #55689F; height:auto;
    vertical-align:text-bottom}
div#localizacao{background: #EEE;color: #0D1B44; height:25px;
    font-weight:bold; padding-top: 7px; padding-left: 10px}
div#container_01{background: #EEE; Text-align:left; border-style:solid;
    border-color: #4a4d50; border-width: .2em;}
div#container_02{background-color:white; Text-align:left; border-style:solid;
    border-color: #4a4d50; border-width: .2em;}
div#conteudo {background-color:white}
div#conteudo p{line-height:1.4}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}

Flutuação dos leiautes da area 01
div#container_01{clear:both; width:1250px;margin:0 auto;height:70px}
div#nm_sistema {float:left; width: 1095px;height:70px}
div#var_sistema {float:right;width:150px;height:70px}

Flutuação dos leiautes da area 02
div#container_02{clear:both;width:1250px;margin:0 auto}
div#conteudo{float:left;width:1250px}
div#footer{clear:both;width:100%}
*/

div#cnt_conteudo{clear:both;float:left;width:90%;margin: 5%}

div#cnt_rotulo{
    float:left;
    width:100%;             
    background-color: #55689F;  
    color: white; 
    text-align: left; 
    height: 50%; 
    font-size: 11px;
    color: white;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;}

div#cnt_rotulo p{padding-left: 2%;font-weight: bold;}

div#cnt_cont_cliente{float:left;width:100%}
div#cnt_cont_cej{float:left;width:100%}
div#cnt_cont_cjud{float:left;width:100%}
div#cnt_cont_contrato{float:left;width:100%}
div#cnt_cont_providencias{float:left;width:100%}
div#cnt_cont_reneg{float:left;width:100%}
div#cnt_cont_restricao{float:left;width:100%}
 

table{width: 100%}
td{width: 12.5%}
td p{padding-left: 5px}
tr{border-bottom:solid;border-color: #EEE; border-width: .1em;line-height: 30px;}
tr#modelo{visibility: hidden}
td#nm_campo{font-weight: bold; text-align: right; font-size: 11px; background-color:#EEE}
td#nm_campo p{padding-right: 5px;font-weight: bold;}